@model WebApi_AndroidApp.Models.UserItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PasswordHash)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PasswordHash)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Token)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Token)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TokenIssued)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TokenIssued)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wins)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wins)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Losses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Losses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ties)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ties)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gamesplayed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gamesplayed)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UserID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
